<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">

    <div class="card" *ngFor="let us of user">
      <div class="additional">
        <div class="user-card">
          <div class="level center">

          </div>
          <div class="points center">
           13 Servicios Realizados
          </div>

          <img class="user-avatar round"  width="110" height="110" [src]="us.picture || us.photoURL ">

        </div>
        <div class="more-info">
          <h1>{{us.name || us.displayName}}</h1>
          <div class="coords">
            <span>Itses</span>
            <span>Ingenieria en sistemas</span>
          </div>
          <div class="coords">
            <span>Estudiante</span>
            <span>Allende, Guanajuato</span>
          </div>
          <div class="stats">
            <div>
              <div class="title">Logros</div>
              <ion-icon name="star"></ion-icon>
            </div>


          </div>
        </div>
      </div>
      <div class="general">
        <h1>{{us.name || us.displayName}}</h1>
        <p>Skills</p>
        <p>Emprendedor, Alegre</p>

      </div>
    </div>



  </div>

  <ion-button color="primary" (click)="openImagePickerCrop()">
    photo crop
  </ion-button>
</ion-content>
