app-login {

}
ion-content.background{
  --background: url(../../assets/imgs/fondo.png) 0 0/100% 100% no-repeat;
}
$color: rgba(0, 0, 0, 0);
$height100: 100%;

ion-grid {
  width:100%;
  height: $height100;
  background: $color;
}

ion-row {
  height: $height100;
}

ion-col {
  border: 1px solid #488aff;
  background: $color;
}

ion-button {
  font-weight: 300;
}

.color{
  background: $color !important;
}
@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: $color;
  }
  ion-col {
    border: none;
  }
  .color{
    background: $color !important;
  }
}

// style for ion-icon
ion-icon[ng-reflect-disabled="true"] {
  color: #FAFBFC;
  pointer-events: none;
}
