<ion-content class="background">
<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center style="padding-bottom: 20px">

        <img width="90%" src="assets/imgs/YaakunBlanco.png" alt="">
      </div>

      <div padding-top padding-end padding-start >
        <ion-item >
          <ion-input color="tertiary" type="text" placeholder="Correo" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
<!--        style="background: #1d0820!important;"-->
        <ion-item  >
          <ion-input type="password" placeholder="Contraseña" name="email" [(ngModel)]="pass"></ion-input>
        </ion-item>
      </div>
      <p padding-bottom padding-end text-right  color="secondary" style="color: #FFFFFF;font-size: 12px;" tappable (click)="forgotPass()"><strong>¿Olvidaste tu Constraseña?</strong></p>

      <div text-center>
        <ion-button style="width: 70%" color="medium" size="small" (click)="login()" >Inicar Sesión</ion-button>
      </div>
      <p text-center ion-text color="secondary" style="color: #FFFFFF">O inicia con:</p>

      <ion-grid text-center>
        <ion-row>
          <ion-col col-4>

          </ion-col>
          <ion-col col-4>
            <ion-button (click)="doLogin()" color="light"  >
              <ion-icon  slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col col-4>

          </ion-col>
        </ion-row>
      </ion-grid>
      <div text-center margin-top>
        <span style="color: #FFFFFF" ion-text color="secondary" tappable (click)="register()">¿Eres nuevo aquí? <strong> Registrate!</strong></span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
