
<ion-header>
  <ion-toolbar  color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="background">


  <div class="container">
    <form class="colorWhite">
      <div class="row">
        <h4>Datos Personales</h4>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Nombre " name="nombre" [(ngModel)]="nombre"/>
          <div class="input-icon"><ion-icon name="person"></ion-icon></div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Apellidos " name="apellidos" [(ngModel)]="apellidos"/>
          <div class="input-icon"><ion-icon name="person"></ion-icon></div>
        </div>
        <div class="input-group input-group-icon">
          <input type="email" placeholder="Correo Electronico" name="correo" [(ngModel)]="correo"/>
          <div class="input-icon"><ion-icon name="mail"></ion-icon> </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="password" placeholder="Contraseña" name="contrasena" [(ngModel)]="contrasena"/>
          <div class="input-icon"><ion-icon name="key"></ion-icon> </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="number" placeholder="Telefono" name="telefono" [(ngModel)]="telefono"/>
          <div class="input-icon"><ion-icon name="call"></ion-icon> </div>
        </div>

      </div>
      <div class="row">
        <h4>Domicilio</h4>

        <div class="input-group input-group-icon">
          <input type="text" placeholder="Dirección" name="direccion" [(ngModel)]="direccion"/>
          <div class="input-icon"><ion-icon name="journal"></ion-icon> </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="number" placeholder="Codigo Postal" name="cp" [(ngModel)]="cp"/>
          <div class="input-icon"><ion-icon name="list-box"></ion-icon> </div>
        </div>
        <div class="input-group input-group-icon">
          <select name="" id="estado" style="width: 100%" name="estado" [(ngModel)]="estado">
            <option value="">Seleciona tu Estado</option>
            <option value="">Jalisco</option>
            <option value="">Campeche</option>
            <option value="">Guanauato</option>
            <option value="">Yucatam</option>
          </select>

        </div>
        <div class="input-group input-group-icon">
          <select name="" id="municipio" style="width: 100%" name="municipio" [(ngModel)]="municipio">
            <option value="">Seleciona tu municipio</option>
            <option value="">Allende</option>
            <option value="">Comonfort</option>
            <option value="">San Luis de la Paz</option>
          </select>

        </div>
      </div>
      <div class="row">
        <div class="col-half">
          <h4>Fecha de Nacimiento</h4>
          <div class="input-group">
            <div class="col-third">
              <input type="text" placeholder="DD" name="diaN" [(ngModel)]="diaN"/>
            </div>
            <div class="col-third">
              <input type="text" placeholder="MM" name="mesN" [(ngModel)]="mesN"/>
            </div>
            <div class="col-third">
              <input type="text" placeholder="YYYY" name="anoN" [(ngModel)]="anoN"/>
            </div>
          </div>
        </div>
      <div class="col-half">
          <h4>Sexo</h4>
          <div class="input-group">
            <input type="radio" name="sexo" value="masculino" id="sexo-masculino"/>
            <label for="sexo-masculino">Masculino</label>
            <input type="radio" name="sexo" value="femenino" id="sexo-femenino"/>
            <label for="sexo-femenino">Femenino</label>
          </div>
        </div>
      </div>

      <div class="row">
        <h4>Escolaridad</h4>

        <div class="input-group">
          <input type="radio" name="escuela" value="preparatoria" id="modalidad_preparatoria"/>
          <label for="modalidad_preparatoria">Preparatoria</label>
          <input type="radio" name="escuela" value="universidad" id="modalidad_universidad"/>
          <label for="modalidad_universidad">Universidad</label>
        </div>
        <div class="input-group input-group-icon">
          <select name="" id="escuela" style="width: 100%" name="escuela" [(ngModel)]="escuela">
            <option value="">Seleciona tu escuela</option>
            <option value="">ITSES</option>
            <option value="">UNAM</option>
          </select>

        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Carrera o Especialidad" name="carrera" [(ngModel)]="carrera"/>
          <div class="input-icon"><ion-icon name="school"></ion-icon> </div>
        </div>
      </div>

      <div class="row">
        <h4>Terminos y Condiciones</h4>
        <div class="input-group">
          <input type="checkbox" id="terms" name="terminos" />
          <label for="terms" class="colorWhite">
            Acepto los términos y condiciones para suscribirme a este servicio y confirmo que he leído la política de privacidad.</label>
        </div>
      </div>
      <div text-center>
        <ion-button style="width: 100%" color="medium" size="small" (click)="registrar()">Registrar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
