<ion-app>
  <ion-split-pane>
    <!--Dark Design Menu-->
    <ion-menu >
      <ion-header *ngIf="log" >
        <ion-toolbar   color="tertiary" class="hederCont" *ngFor="let us of user">
          <ion-item color="tertiary" lines="none">
            <ion-avatar slot="start">
              <h2> <img class="user-avatar round"  height="100%" [src]="us.picture || us.photoURL ">
              </h2>
            </ion-avatar>
            <div slot="end">
            <h2 >{{us.name || us.displayName}}</h2>

            <p>{{us.email}}</p>
            </div>
          </ion-item>
        </ion-toolbar>
      </ion-header>


      <ion-content style="background: #19152C!important;" class="menu" color="tertiary">

        <ion-list color="tertiary" no-margin no-padding >
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" color="tertiary">
          <ion-item class="btn" color="tertiary" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>  {{p.title}}
          </ion-item>

          </ion-menu-toggle>
          <ion-item class="btn" color="tertiary" (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
            Cerrar Sesión
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
