<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Convocatorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

  <div class="card" *ngFor="let convocatoria of convocatoriaList">
    <div class="front" style="background-image: url(//source.unsplash.com/300x401);">
      <p>{{convocatoria.nombre}}</p>
    </div>
    <div class="back">
      <div>
        <p>{{convocatoria.lugar_realizacion}}?</p>
        <p>{{convocatoria.descripcion}}</p>
        <button class="button">Postularse</button>
      </div>
    </div>
  </div>

  </div>
</ion-content>
