<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conatiner">
    <div class="wrap">

      <div *ngFor="let cat of ListaCategorias" class="box one" (click)="VerConvocatoria(cat.id_categoria)"  [ngStyle]="{'background-image': 'url('+cat.foto+')'}">
        <div class="date">

        </div>
        <h1>{{cat.nombre}}</h1>
        <div class="poster p1">

        </div>
      </div>




    </div>
  </div>
</ion-content>
