.conatiner {
  width: 100%;
  height: 500px;
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.box {
  margin: 10px;
  width: 300px;
  height: 490px;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.box:hover {
  margin-bottom: -10px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.box h1 {
  color: #fff;
  padding: 30px;
  margin-top: 100px;
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  background: rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.date h4 {
  color: #fff;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0 0 3px rgba(0,0,0,0.9);
}
.poster {
  width: 130px;
  height:130px;
  margin: 120px auto;
  position: relative;
  border-radius: 100px;
}
.poster h4 {
  top: 16px;
  color: #fff;
  position: relative;
  font-size: 80px;
  text-align: center;
  font-weight: 100;
}
.one {
  //background: url('https://source.unsplash.com/900x920');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
